<div class="background-ticket">
    {{> navbar_logout }}

    <div class="content">
        <div class="card">
            <p class="sign" align="center">Login</p>
            <form action="/login" method="POST" class="form1">
                <input class="un" name="username" type="name" align="center" placeholder="Username">
                <input class="un" name="password" type="password" align="center" placeholder="Password">
                <button type="submit" class="submit" align="center">Login</button>
                {{#if msg}}
                <div class="error">{{msg}}</div>
                {{/if}}
            </form>
        </div>
    </div>
</div>