{{> navbar }}

<h1>Profile informations</h1>
<div id="profile">
  <p>{{user.username}}</p>
  <p>{{user.email}}</p>
  <a href="/profile/{{user._id}}/edit">EDIT</a>
  <div class="image-container">
  <img class="images" src="{{user.profilePic}}" alt="">
</div>
</div>


