<div class="background-ticket">
    {{> navbar}}

    <div class="content">
        <div class="card">
            <div class="main">
                <p class="sign" align="center">Update</p>
                <form method='POST' action='/profile/{{user._id}}/edit' class="form1">
                    <input name="email" type="name" class="un " align="center" value='{{user.email}}'>
                    <textarea name='bio' type='text' class="un " align="center" >{{user.bio}}</textarea>
                    <button type="submit" class="submit" align="center">Update</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="main">
                <p class="sign" align="center">Upload your Picture</p>
                <form method="POST" action="/upload" enctype="multipart/form-data" class="form1">
                    <input type="file" name="imageUrl" accept="image/png, image/jpg" class="un " align="center">
                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>