{{> navbar }}

<h2>Update the Profile</h2>
<hr>
<div>
    <form method='POST' action='/profile/{{user._id}}/edit'>
        <div>
            <label>Username: </label>
            <input name='username' type='text' value='{{user.username}}'>
        </div>
        <div>
            <label>Mail: </label>
            <input name='mail' type='text' value='{{user.email}}'>
        </div>
        <button type='submit'>Submit</button>
        <label>Bio: </label>
            <input name='bio' type='text' value='{{user.bio}}'>
        </div>
        <button type='submit'>Submit</button>
    </form>
</div>
<div>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="imageUrl" accept="image/png, image/jpg">
        <button type="submit">Submit</button>
    </form>
</div>