<div class="background-ticket">
    {{> navbar }}

    {{#if msg}}
    <div class="message success">
        {{msg}}
    </div>
    {{/if}}

    {{#if err}}
    <div class="message error">
        {{err}}
    </div>
    {{/if}}

    {{> group_search }}

    <section class="section-groups">
        <div class="middle-section">
            <h3>My Groups</h3>
            <div class="square-box">
                {{#each groups}}
                <h2 class = "sign"><a class="link-fix" href="/group/{{name}}">{{name}}</a></h2><br>
                {{/each}}
            </div>
        </div>
        <div class="middle-section">
            <div class="main">
                <h2 class="sign">Create a group</h2>
                <form action="/groups/create" method="POST">
                    <div class="form-group">
                        <input class="un" name="name" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Your group name"/>
                    </div>
                    <div class="form-group">
                        <textarea class="un" name="description" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Description"></textarea>
                    </div>
                    <button type="submit" class="submit">Create group</button>
                </form>
            </div>
        </div>
    </section>
</div>
