<div class="search-group">
    <form action="/groups/search" method="GET">
        <div class="mb-3">
            <input name="groupName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Search for a Group"
                   aria-describedby="emailHelp">
        </div>
    </form>
</div>
