<nav>
    <ul class="nav justify-content-between">
        <img src="/images/logo.png" alt="logo" class="logo">
        <form action="/results" method="POST" class="form-container">
            <div class="search-container">
                <input name="movieName" type="text" class="form-control" id="exampleInputEmail1"
                    placeholder="Search for a Movie" aria-describedby="emailHelp">
            </div>
        </form>
        <div id="icons">
            <li class="nav-item">
                <img src="/images/house.svg" alt="home" class="icon">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <img src="/images/people.svg" alt="people" class="icon">
                <a class="nav-link active" href="/groups">Groups</a>
            </li>
            <li class="nav-item">
                <img src="/images/heart.svg" alt="heart" class="icon">
                <a class="nav-link" href="/my-list">My List</a>
            </li>
            <li class="nav-item">
                <img src="/images/person.svg" alt="profile" class="icon">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </div>
    </ul>
</nav>