<nav>
    <ul class="nav justify-content-between">
        <div id="logo"><a href="/">MovieTime</a></div>
        <div id="icons">
            <li class="nav-item">
                <img src="images/person.svg" alt="profile" class="icon">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <img src="images/door-open.svg" alt="profile" class="icon">
                <a class="nav-link" href="/sign-up">Sign Up</a>
            </li>
        </div>
    </ul>
</nav>