{{!-- 
{{#each fourMovies}}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="{{poster}}" alt="poster">
      <div class="overlay">
        <p class="add">
          Add to my list
        {{!-- </p>
        <h2>{{name}}</h2>
      </div>
    </div>
  </div>
{{!-- {{/each}} --


{{#each movies}}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <img class="img-responsive" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="poster">
    <div class="overlay">
      <p class="add">
        Add to my list
      </p>
      <h2>{{title}}</h2>
    </div>
  </div>
</div>