
<nav>
    <ul class="nav justify-content-between">
      <div id="logo"><a href="/">MovieTime</div>
      <div id="icons">
      <li class="nav-item">
        <img src="images/people.svg" alt="people" class="icon">
        <a class="nav-link active" href="/groups">Groups</a>
      </li>
      <li class="nav-item">
        <img src="images/heart.svg" alt="heart" class="icon">
        <a class="nav-link" href="/my-list">My List</a>
      </li>
      <li class="nav-item">
        <img src="images/person.svg" alt="profile" class="icon">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <img src="images/logout.svg" alt="profile" class="icon">
        <a class="nav-link" href="/">Log out</a>
      </li>
      </div>
    </ul>
  </nav>

  <div class="container">
    <div class="mainContain">
      <div class="side1">
        <div class="topMoviesGroup">
          <h1>Top movies</h1>
        </div>
        <div class="listMovies">
          <div class="movie_name">
            <img class="pictureMovie" src="images/le parrain affiche.webp" alt="">
            <p>Le Parrain</p>
          </div>
           <div class="movie_name">
            <img class="pictureMovie" src="images/le parrain affiche.webp" alt="">
            <p>Le Parrain</p>
          </div>
           <div class="movie_name">
            <img class="pictureMovie" src="images/le parrain affiche.webp" alt="">
            <p>Le Parrain</p>
          </div>
        </div>
      </div>
      <div class="side2">
        <div class="groupMembers">
          <h1>Groups Members</h1>
        </div>
        <div class="news">
          User1 like a movie
        </div>
      </div>
    </div>
  </div>

