<div class="background-ticket">
    {{> navbar }}

    <div class="randomMovies">
        {{#each movies}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive card-img-top" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
                    alt="poster">
                <div class="overlay">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <form action="/my-list/{{id}}/delete" method="POST">
            <button type="submit" class="btn btn-primary">Delete this film</button>
        </form>
        {{/each}}
    </div>
</div>