<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>
  <div class="background">
    <nav>
      <ul class="nav justify-content-between">
        <div id="logo">MovieTime</div>
        <div id="icons">
          <li class="nav-item">
            <img src="images/people.svg" alt="people" class="icon">
            <a class="nav-link active" href="/groups">Groups</a>
          </li>
          <li class="nav-item">
            <img src="images/heart.svg" alt="heart" class="icon">
            <a class="nav-link" href="/my-list">My List</a>
          </li>
          <li class="nav-item">
            <img src="images/person.svg" alt="profile" class="icon">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <img src="images/logout.svg" alt="profile" class="icon">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </div>
      </ul>
    </nav>
    <section class="section-1">
      <h1>Give me a movie !</h1>
      <p class="question">What's your mood ?</p>
      <div>
         <ul class="wrap-smileys">
          <li class="smiley-icon"><a href="/random"><img src="images/comedy.svg" alt="comedy" class="smiley"></a>
            <a class="nav-link" href="/random">Give me some fun</a>
          </li>
          <li class="smiley-icon"><a href="/random"><img src="images/killb.png" alt="action" width="70px" class="smiley-draw"></a>
            <a class="nav-link" href="/random">Don't mess with me</a>
          </li>
          <li class="smiley-icon"><a href="/random"><img src="images/romantic.svg" alt="romantic" class="smiley"></a><a class="nav-link"
              href="/random">Tender Heart</a></li>
          <li class="smiley-icon"><a href="/random"><img src="images/grogu.png" alt="sf" width="70px" class="smiley-draw"></a><a
              class="nav-link" href="/random">Feeling like
              Grogu</a></li>
          <li class="smiley-icon"><a href="/random"><img src="images/cool.svg" alt="the-best" class="smiley"></a><a class="nav-link"
              href="/random">Give me the best</a></li>
        </ul>
      </div>
    </section>
  </div>
  <section class="section-2">
    <h2>Be more specific</h2>
  </section>
</body>

</html>