body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
}

a {
    color: #ffffff;
}

ul {
    list-style-type: none;
}

a:hover {
    color: rgb(216, 174, 178);
}

nav {
    padding: 30px 20px 0 20px;
}

#logo {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#icons {
    display: flex;
    margin-right: 5px;
}

.icon {
    padding: 0 2rem;
}

/* Section 1 */

.background {
    background-image: url(../images/cinema.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 1700px;
}

.section-1 {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.question {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: white;
    text-align: center;
}

/* Section 2 */

.section-2 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    top: 100px;
    background: linear-gradient(0deg, rgba(40, 0, 0, 0.914) 0%, rgb(69, 3, 11) 100%);
}

/* Card */

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    margin-top: 70px;
    border: none;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* login */

.form-control {
    margin-top: 10px;
    background: transparent;
}

.btn-primary {
    margin: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 40%;
}

.btn-primary:hover {
    background-color: rgb(97, 0, 0);
}

.background-ticket {
    background-image: url('../images/admission.jpg');
    height: 1500px;
}

/* search page */

.background2 {
<<<<<<< HEAD
    background-image: url(../images/pellicule.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
=======
  background-image: url(../images/pellicule.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;

>>>>>>> b881ac8b537220afaa709befbf83902fcc7592dd
}

.searchGroup {
    height: 740px;
}

.groupsResult {
    padding-top: 10rem;
}

/* smileys */

.smiley {
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 30px rgb(247, 183, 240);
    border-radius: 50px;
    border: solid 2px;
}

.smiley-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrap-smileys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 40px 0;
}

.smiley-draw {
    display: flex;
    margin: 10px;
    box-shadow: 2px 2px 30px rgb(247, 183, 240);
    border: solid 4px;
    border-radius: 200px;
}

/* Image hover */

.add {
    color: white;
    font-size: 20px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #4a4a4a;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect .img-responsive {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover .img-responsive {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    padding: 1em 0;
    background-color: transparent;
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.result-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 40px;
}

/* fourmovies */

.randomMovies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

#btnAdd {
    background-color: transparent;
    border: none;
    width: 80px;
    height: 80px;
    position: relative;
    color: white;
}

.col-lg-3 {
    margin: 20px;
}

.details {
    text-align: left;
    width: 300px;
}

/*list*/

.add-to-list-msg {
    color: white;
}

/* Groups */

.section-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.middle-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  margin: 50px;
}

/* profile page */

#profile {
  margin-top: 4rem;
  justify-content: space-around;
  height: 550px;
  display: flex;
  flex-direction: row;
}

.image-container {
  clip-path: circle(50%);
  height: 13rem;
  width: 13rem;
  display: flex;
  justify-content: center;
}

.button-edit {
padding-bottom: 100px;
}

.profileTitle {
  padding-top: 7rem;
}

.presentation, .bio {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-style: bold;
  align-items: center;
  height: 200px;
}