body {
  padding: 30px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 500px) {
  /*      Targets all devices greater than 500px
       CSS for tablets */
}

@media screen and (min-width: 1000px) {
  /*      Targets all devices greater than 1000px
       CSS for Desktops */
}

a {
  color: #00b7ff;
}

#logo {
  font-size: 20px;
  text-decoration: none;
}

#icons {
  display: flex;
  margin-right: 5px;
}

.icon {
  padding: 0 2rem;
}

/* Section 1 */

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

h1 {
  font-size: 50px;
}

/* Section 2 */

#section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

/* Card */

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* login */

.form-control {
  margin-top: 10px;
}

.btn-primary {
  margin-top: 10px;
}

/* group pages */

.container {
  position: relative;
  margin: 50px 0px;
}

.mainContain {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}

.side1{
  margin-right: 2rempx;
}

.side2{
  margin-left: 7rem;
  width: 500px;
}

.listMovies {
  display: flex;
  flex-direction: row;
}

.pictureMovie {
  width: 200px;
  height: 267px;
  margin-right: 10px;
}
