<div class="background1">
  <nav>
    <ul class="nav justify-content-between">
      <div id="logo">MovieTime</div>
      <div id="icons">
        <li class="nav-item">
          <img src="images/house.svg" alt="home" class="icon">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <img src="images/people.svg" alt="people" class="icon">
          <a class="nav-link active" href="/groups">Groups</a>
        </li>
        <li class="nav-item">
          <img src="images/heart.svg" alt="heart" class="icon">
          <a class="nav-link" href="/my-list">My List</a>
        </li>
        <li class="nav-item">
          <img src="images/person.svg" alt="profile" class="icon">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <img src="images/logout.svg" alt="home" class="icon">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </div>
    </ul>
  </nav>

  <div>
    <form action="/groups/details" method="POST">
  <div class="mb-3">
    <input name="groupname" type="text" class="form-control" placeholder="Group Name" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
  </div>
  <div>
            {{#each groups}}
          </div>
          <h3>{{this.groupname}}</h3>
          {{/each}}
        </div>


